/*===== MUSIC PLAYER ===== */  
.nav__music{
  background-color: $dark-color;
}

.player{
  margin-top: $header-height;
  background: linear-gradient(180deg, $dark-color 28%, $dark-color-light 73%);
}

.player__container{
  height: calc(100vh - 3.75rem);
  background-color: $dark-color-light;
  border-radius: 120px 20px 0px 0px;
}

.player__box1{
  height: calc(100vh - 7.5rem);
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  padding: 0 $mb-4;
}

.player__subbox{
  margin-top: auto;

  h3, h4{
    text-align: center;
  }
  
  h3{
    margin: 0;
  }
  
  h4{
    margin-top: $mb-1;
  }
}

.player__img{
  margin-top: $mb-4;
  margin-bottom: $mb-1;
}

.disk{
  background-image: url('https://www.cjoint.com/doc/21_12/KLrdJqZA5Oy_cover1.png');
  display: block;
  margin: auto;
  width: 320px;
  height: 300px;
  background-size: cover;
}

.sub__controls {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.song__slider{
  width: 100%;
  position: relative;
}

.song__bar{
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  background: #000000;
  overflow: hidden;
  border-radius: 3px;
  cursor: pointer;
}

.song__bar::-webkit-slider-thumb{
  -webkit-appearance: none;
  width: 5px;
  height: 10px;
  border-radius: 4px;
  background: #987700;
  box-shadow: -400px 0 0 400px #E2C86B;
}

.song__duration{
  position: absolute;
  right: 0;
}

.controls{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-bottom: $mb-6;
}

.play-btn{
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: linear-gradient(230.62deg, #E2C86B 22.93%, #987700 82.15%);
  cursor: pointer;
  border: none;
}

.play-btn span{
  position: absolute;
  top: 50%;
  left: 28%;
  transform: translateY(-50%);
  width: 8px;
  height: 26px;
  border-radius: 3px;
  background-color: $white-color;
  transition: .5s;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.play-btn span:nth-child(2){
  left: 57%;
  transform-origin: center;
}

.play-btn.pause span:nth-child(2){
  transform: translateY(-50%) scaleY(0);
}

.play-btn.pause span:nth-child(1){
  width: 35%;
  left: 38%;
  transform: translateY(-50%, -50%);
  border-radius: 0;
  clip-path: polygon(0 0, 100% 50%, 100% 50%, 0% 100%);
}

.play-btn.pause{
  animation: pulse 2s linear infinite;
}

@keyframes pulse {
  0%{
    box-shadow: 0;
  }
  50%{
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.1);
  }
  100%{
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.4);
  }
}

.btn{
  text-decoration: none;
  width: 38px;
  height: auto;
  background-color: $dark-color-light;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
}

.backward{
  transform: rotate(180deg);
}

/*===== Lyrcs =====*/
.lyrcs{
  display: block;
  margin: auto;
  text-align: center;
  align-items: center;
  bottom: 0;
  height: $header-height;
  width: 100%;
  border-radius: 70px 20px 10px 10px;
  background-color: #2C2C38;

  h2{
    padding-top: $mb-2;
    color: $first-color-alt;
  }
  
  p{
    padding: $mb-4;
    color: $first-color;
  }

  button{
    background-color: #2C2C38;
    border: none;
    cursor: pointer;
  }
}

.lyrcs__box::-webkit-scrollbar, .lyrcs__menu::-webkit-scrollbar{
 width: 4px;
}

.lyrcs__box::-webkit-scrollbar-thumb, .lyrcs__menu::-webkit-scrollbar-thumb{
  background: linear-gradient(182.92deg, rgba(226, 200, 107, 0.4) 4.85%, rgba(152, 119, 0, 0.4) 99.92%);
  border-radius: 8px;
}

@media screen and (max-width: 768px){
  .lyrcs__menu{
    position: fixed;
    bottom: -100%;
    width: 100%;
    height: 81vh;
    background-color: $dark-color-light;
    opacity: 1;
    border-radius: 120px 20px 0 0;
    transition: .5s;
    overflow-y: scroll;
  }
}

/*=== Show menu ===*/
.show2{
  bottom: $header-height;
}

.active2{
  color: $first-color;
}